langchain-astradb>=0.5.0
pandas
langchain-google-genai>=2.0.0
fastapi
uvicorn
python-multipart
jinja2
python-dotenv
langchain>=0.3.0
langchain-core>=0.3.0
langchain-groq>=0.3.0
langchain-pinecone>=0.2.13
pinecone>=7.0.0
pyyaml
-e .